.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(255, 255, 255);
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    left: 0;
    /* display: none; */
}

.sidebarWrapper {
    padding: 20px;
    color: #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 15px;
    color: rgb(187, 186, 186);
}

.sidebarList {
    list-style: none;
    padding: 5px;
}
  
.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #03c9d7;
  color: white;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}